*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/release/
app/debug/
app/production/
vosk-model/build
.kotlin/
.idea/
obsidian

# Environment variables (contains sensitive data)
.env

# Sentry Config File
sentry.properties
ci/scripts/fdroid_release.sh

# Release binary APKs (uploaded via GitHub Releases)
releases/*.apk
releases/*.idsig
releases/*.tmp
